<div class="row text-center bg-g-primary py-1 text-white">
    <div class="col-xs-4">
        <div class="box">
            <a routerLink="events"><i class="fa-solid fa-volleyball"></i> Eventos</a>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="box boder-divider">
            <a routerLink="store"><i class="fa-solid fa-store"></i> Tienda</a>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="box">
            <a routerLink="contact"><i class="fa-solid fa-users"></i> Unirse</a>
        </div>
    </div>
</div>


