.banner {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../../../assets/img/306276201_155903773784801_8537790554864233137_n.jpg");
    background-size: cover;
    height: 30vh;
}
